# Created by https://www.toptal.com/developers/gitignore/api/laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel

node_modules/
upload/
public/excel/*
public/excel

public/Khode/*
public/Khode
public/loigiaikhode/*
public/loigiaikhode
public/test
public/upload
public/frontend/upload
public/frontend/upload/*
config/config.php

public/error_log

cache
cache/*
history
history/*

