@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexboxCenter(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;
}

@mixin flexboxinlineCenter(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items:center;
    justify-content:center;
}

@mixin flexboxWrap() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

@mixin flexInline() {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin flexInlineImportant() {
    display: -webkit-inline-box!important;
    display: -moz-inline-box!important;
    display: -ms-inline-flexbox!important;
    display: -webkit-inline-flex!important;
    display: inline-flex!important;
}

@mixin textEllipsis() {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: #f1f1f1;
          border-radius: 6px;
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color:rgba(0,0,0,0.3); 
          border-radius: 6px;
          width: 10px;
        }
}

@mixin behaviorLink() {
    &:hover, &:focus, &:active {
        @content
    }
}

@mixin backgroundFade($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}