// global
$primary-color: #233785;
$secondary-color: #074085;
$secondary-dark: #C56726;
$light-gray: #d0d0d0;
$dark-gray: #969696;
$text-base: #464646;
$base-black: #4f4f4f;
$dark-black: #363636;
$main-1: #6A9EDD; 
$primary-color-lighten: #2a83da;

$accent: #F3B821;
$brown: #B08965;
$brown-lighten: #BDA25D;
$red: #CF2626;
$red-1: #F12E36;
$orange: #FF4600;
$gray: #8497A9;
$green: #27AE60;
$gray-1: #E0E0E0;
$gray-2: #6f6f6f;
$white: #fff;
$black: #000;
$light-gray-1: #767676;

$background-grey-color: #f0f0f0;
$background-form-control:#E1E5E9;
$box-shadow-menu-color: rgba(0, 0, 0, 0.2);
$font-family: "Roboto", sans-serif;
$font-size: 16px;
$font-size-sm: $font-size - 2px;
$font-size-xs: $font-size - 4px;
$font-size-lg: $font-size + 2px;
$fb: #4267B2;
$youtube: #FF0000;
$in: #0A66C2;
$insta: linear-gradient(45deg, #FFD600 8.39%, #FF0100 50%, #D800B9 91.61%);
$tw: #1DA1F2;
$bg-google: #3C8BD9;
$blue-light1: #168DDD;
$bg-google-darken: darken($bg-google, 10%);
$bg-facebook: #4267B2;
$bg-youtube: #E43030;
$bg-adx: #FCAF17;
$bg-adx-light-1: #FBC316;
$bg-instagram: #E8283F;
$bg-google-suite: #a0a0a0;


// background
$background-body: #f3f3f3;
$bg1: #E3E3E3;
$bg-gray2: #DFE6E9;
//button
$base-button-color: #424d68;

//transition
$transition: all 0.2s;
$transition-1: all 0.35s;
$transition-2: all .3s linear 0ms;

// shadow
$shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
$shadow1: 0px 2px 10px rgba(0, 0, 0, 0.2);

// new
// panel
$panel-header: #2F353D;
$base-radius: 6px;

$line: #DFE6E9;
$border: #C0C0C0;
$border-light-grey:#DDDDDD;

//slick
$slick-arrow-color: #000;
$slick-font-path: '../fonts/';

$border: #ddd;
$fb: #1877F2;
$gg: #F14336;