.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  label {
    padding-left: 32px;
    position: relative;
    display: block;
    margin: 0;
    cursor: pointer;
    user-select: none;
    min-height: 24px;
    min-width: 24px;
    color: $text-base;
  }
  input[type="checkbox"] {
    display: none;
  }
  &.small{
    label{
      padding-left: 24px;
    }
    .checkmark{
      width: 16px;
      height: 16px;
      top: 2px;
    }
    input[type="checkbox"]:checked ~ .checkmark{
      background-size: 10px;
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #c6c6c6;
  background-color: white;
  &.rounded {
    border-radius: 4px;
  }
  &.circle {
    border-radius: 50%;
  }
  &.accent {
    
  }
}
.checkbox-disabled {
  position: relative;
  display: inline-flex;
  align-items: center;
  label {
    padding-left: 32px;
    position: relative;
    display: block;
    margin: 0;
    cursor: pointer;
    user-select: none;
    min-height: 24px;
    min-width: 24px;
    color: $text-base;
  }
  input[type="checkbox"] {
    display: none;
  }
  &.small{
    label{
      padding-left: 24px;
    }
    .checkmark{
      width: 16px;
      height: 16px;
      top: 2px;
    }
    input[type="checkbox"]:checked ~ .checkmark{
      background-size: 10px;
    }
  }
}
.checkmark-disabled{
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #DDD;
  background-color: white;
  &.rounded {
    border-radius: 4px;
  }
  &.circle {
    border-radius: 50%;
  }
    background: url(../images/icon-checkmark-gray.svg) no-repeat center center #fff;
    color: #DDD;
		pointer-events: none;
    border: 1px solid;
    pointer-events: none;
}

input[type="checkbox"]:checked ~ .checkmark,
.checkbox-2 input[type="radio"]:checked ~ .checkmark-2{
  background: url(../images/icon-checkmark-main.svg) no-repeat center center #fff;
  border: 1px solid $primary-color;
  &.circle {
    background: url(../images/icon-checkmark-dot.svg) no-repeat center center #fff;
  }
}
.item-category{
  &:hover{
    background-image: url(../images/icon-electronics-small.svg);
    background-repeat: no-repeat;
    background-position:left;
    color: #F37721;
    font-weight: 600;
  }
  &.active{
    background-image: url(../images/icon-electronics-small.svg);
    background-repeat: no-repeat;
    background-position:left;
    color: #F37721;
    font-weight: 600;
  }
}
.checkbox-2 {
  position: relative;
  display: inline-flex;
  align-items: center;
  label {
    padding-left: 32px;
    position: relative;
    display: block;
    margin: 0;
    cursor: pointer;
    user-select: none;
    min-height: 24px;
    min-width: 24px;
    color: $text-base;
  }
  input[type='radio'] {
    display: none;
  }
  &.small{
    label{
      padding-left: 24px;
    }
    .checkmark-2{
      width: 16px;
      height: 16px;
      top: 2px;
    }
    input:checked ~ .checkmark-2{
      background-size: 10px;
    }
  }
}

.checkmark-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #c6c6c6;
  background-color: white;
  &.rounded {
    border-radius: 4px;
  }
  &.circle {
    border-radius: 50%;
  }
  &.accent {
    
  }
}
.check-answer-circle{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .checkmark-circle{
    border-radius: 50%;
    border: 1px solid #000;
    padding: 2px 6px;
    font-size: 14px;
    &.active{
      background-color: violet;
      border-color: violet;
      &.check_right{
        background-color: red;
        border-color: red;
      }
    }
    &.check_right{
      border-color: #233785;
      background-color: #8a8a8a;
    }
  }
}
.check-answer-circle input[type="radio"]:checked ~ .checkmark-circle{
  background-color: #8a8a8a;
  border-color: #233785;
}
.item-answer{
  margin-left: 20px;
  margin-bottom: 5px;
  @media screen and (max-width: 1024px){
    margin-left: 10px;
  }
}