#hero {
  width: 100%;
  height: 40vh;
  position: relative;
  background-color: white;
  margin-bottom: 40px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.section {
  margin-bottom: 40px;
  .section-title {
    padding-bottom: 40px;
    h2 {
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      color: $dark-gray;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      padding: 0;
      margin: 0 0 5px 0;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #aaaaaa;
    }
    p::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #9ae1af;
      margin: 4px 10px;
    }
  }
}
.course-item {
  background-color: white;
  border: 1px solid $gray-400;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  width: 100%;
  display: block;
  transition: all 0.2s linear;
  cursor: pointer;
  &:hover {
    border-color: $primary-color;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translate(-5px, -5px);
  }
  .course-img {
    height: 40%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .course-content {
    background-color: white;
    padding: 15px;
    height: 60%;
    display: grid;
    grid-template-rows:
      minmax(40px, max-content) minmax(85px, max-content)
      minmax(50px, max-content) minmax(42px, max-content);
    h4 {
      background-color: $primary-color;
      font-size: 14px;
      padding: 7px 14px;
      color: white;
      border-radius: 2px;
      margin-bottom: 0;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 20px;
    }
    h3 a {
      transition: all 0.3s;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    h3 a:hover {
      color: $primary-color;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      margin-bottom: 10px;
    }
    .trainer-rank {
      border-top: 1px solid $gray-500;
      padding-top: 10px;
      font-size: 18px;
      gap: 10px;
      align-items: center;
      color: $gray-600;
      i {
        font-size: 30px;
      }
    }
  }
  .course-label {
    grid-row: 1;
  }
  .course-title {
    grid-row: 2;
  }
  .course-text {
    grid-row: 3;
  }
  .course-info {
    grid-row: 4;
  }
}
.slick-dots {
  display: flex;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray;
  }
  button {
    text-indent: -9999px; /* sends the text off-screen */
    white-space: nowrap;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    width: 15px;
    height: 15px;
    overflow: hidden;
  }
  .slick-active {
    background-color: $primary-color;
  }
}
.counter {
  padding: 30px 0;
  background-color: #f6f7f6;
  margin-bottom: 40px;
  .counters span {
    font-size: 48px;
    display: block;
    color: $primary-color;
    font-weight: 700;
  }
  .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #37423b;
  }
}
.ui_kit-table {
  overflow: auto;
}
.table-custom {
  .thead-light th {
    color: white;
    background-color: $primary-color;
    border-right: 1px solid white;
  }
  .thead-light th:last-child {
    border-right: unset;
  }
  tbody tr td {
    border-right: 1px solid $gray-300;
  }
  min-width: 1208px;
}
@media (max-width: 767px) {
  .table-custom {
    overflow: hidden;
  }
  #hero {
    height: 25vh;
  }
  .course-item {
    margin-bottom: 15px;
  }
}
