.form_wrapper,
.form_change {
  position: relative;
  width: 100%;
  padding: 100px 10px;
  isolation: isolate;
  min-height: 50vh;
  background-color: $white-darker;
  .form_login {
    background-color: white;
    width: 100%;
    max-width: 556px;
    margin: 0 auto;
    padding: 50px 60px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  form {
    margin-top: 20px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  p {
    text-align: center;
    font-size: 14px;
    color: $text-3;
  }
  a {
    color: $primary-color;
    text-decoration: underline;
    font-size: 14px;
  }
  label {
    color: $text-3;
  }
  .input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;

    input {
      padding: 15px 25px;
      border: 1px solid $color-border;
      border-radius: 10px;
    }
    input.has-error {
      border-color: $color-error;
    }
    input:focus,
    input:focus-visible {
      outline: unset;
    }
    .text-error {
      color: $color-error;
    }
  }
  ._input--pasword {
    position: relative;
    .toggle-pass {
      position: absolute;
      top: 50%;
      right: 10px;
      cursor: pointer;
    }
    .toggle-pass ._hide-password {
      display: none;
    }
    input {
      padding-right: 50px;
    }
  }
  ._input--pasword.active {
    .toggle-pass ._show-password {
      display: none;
    }
    .toggle-pass ._hide-password {
      display: block;
    }
  }
  button {
    padding: 13px;
    border-radius: 10px;
    text-align: center;
    background-color: $primary-color;
    font-size: 16px;
    color: white;
    border: unset;
    width: 100%;
    transition: 0.2s;
    &:hover {
      background-color: $primary-color-dark;
    }
  }
}
.form_change {
  background-color: transparent;
  width: 50%;
  padding: 20px;
  isolation: unset;
  min-height: unset;
  @media (max-width: 767px) {
    width: 100%;
  }
}
